<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="page-container">
  <div class="card">
    <h2>Add Application</h2>

    <form method="POST" enctype="multipart/form-data">

      <div class="form-group">
        <label>Company Name</label>
        <input type="text" name="company_name" required>
      </div>

      <div class="form-group">
        <label>Application Type</label>
        <select name="application_type" required>
          <option value="Placement">Placement</option>
          <option value="Internship">Internship</option>
        </select>
      </div>

      <div class="form-group">
        <label>Stage</label>
        <select name="stage" required>
          <option>Last Date to Apply</option>
          <option>Online Test</option>
          <option>GD</option>
          <option>Technical Interview</option>
          <option>HR Interview</option>
          <option>Offer</option>
          <option>Rejected</option>
        </select>
      </div>

      <div class="form-group">
        <label>Deadline</label>
        <input type="date" name="deadline" required>
      </div>

      <div class="form-group">
        <label>Resume (PDF)</label>
        <input type="file" name="resume">
      </div>

      <button class="btn-primary">Add Application</button>
    </form>

    <a class="back-link" href="/dashboard">Back to Dashboard</a>
  </div>
</div>


</body>
</html>
