<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <h2>Placement Tracker</h2>
</div>

<div class="auth-page">
    <div class="card auth-card">
<div class="card">
    <h2>User Login</h2>

    <form method="POST">
        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <div class="link">
        <a href="/register">New user? Register</a>
    </div>
</div>
</div>
</div>

</body>
</html>
