<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <h2>Placement Tracker</h2>
</div>
<div class="auth-page">
    <div class="card auth-card">
<div class="card">
    <h2>User Registration</h2>

    <form method="POST">
        <label>Name</label>
        <input type="text" name="name" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Register</button>
    </form>

    <div class="link">
        <a href="/login">Already registered? Login</a>
    </div>
</div>
</div>
</div>

</body>
</html>
