<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <h2>Placement Tracker</h2>
</div>
<div class="auth-page">
    <div class="card auth-card">
        <h2>User Registration</h2>

        <form method="POST">
            <div>
                <label>Name</label>
                <input type="text" name="name" required>
            </div>

            <div>
                <label>Email</label>
                <input type="email" name="email" required>
            </div>

            <div>
                <label>Password</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit">Register</button>
        </form>

        <div class="link">
            <a href="/login">Already registered? Login</a>
        </div>
    </div>
</div>


</body>
</html>
